<h3>Friend List</h3>

<div>
	<% if own_list?(@user) %>
	<p>
		<label>Your Friend list</label>
		<% current_user.friends.each do |friend|%>
		  <%= link_to friend.username, user_posts_path(friend) %><br>

		  <!-- remember to add link to the name to go to friend`s profile -->

		<% end %>
	</p>

	<p>
		<label> Incoming Request</label>
		<% current_user.pending_incoming_requests.each do |friendrequest|%>
		  <%= friendrequest.username %><br>

		<%= button_to 'Add this person', user_friendship_path(current_user,friendrequest),:method => :patch %>

		 <%= button_to 'Go Away', user_friendship_path(current_user,friendrequest),:method => :delete   %>

		<% end %>
	</p>

	<p>
		<label>Outgoing Request</label>
		<% current_user.pending_outgoing_requests.each do |friendrequest|%>
		  <%= friendrequest.username %><br>
		<% end %>
	</p>
	<% else %>
		<p>
			<label>Your Friend list</label>
			<% @user.friends.each do |friend|%>
			  <%= link_to friend.username, user_posts_path(friend) %><br>

			  <!-- remember to add link to the name to go to friend`s profile -->

			<% end %>
		</p>

	<% end %>

</div>
