<h3>Friend List</h3>

<div>
	<p>
		<label>Your Friend list</label>
		<% @friends.each do |friend|%>
		  <%= friend.username %><br>
		  <%= link_to  %>
		<% end %>
	</p>

	<p>
		<label> Incoming Request</label>
		<% @pending_incoming.each do |friendrequest|%>
		  <%= friendrequest.username %><br>

		<%= button_to 'Add this person', user_friendship_path(@user,friendrequest),:method => :patch %>

		 <%= button_to 'Delete', user_friendship_path(@user,friendrequest),:method => :delete   %>

		<% end %>
	</p>

	<p>
		<label>Outgoing Request</label>
		<% @pending_outgoing.each do |friendrequest|%>
		  <%= friendrequest.username %><br>
		<% end %>
	</p>

</div>