<div class="container">


  <%= render partial: 'friendships/new' if invitable?(@user) %>
<h1> User Posts </h1>
  <div class=".col-md-8">
        <%= react_component 'WallPost' %>

    <h2> <%= @user.username %> Wall Posts</h2>
    <ul>
      <% @user.wall_posts.each do |post| %>
      <li><p><%= post.title %></p>
          <p><%= link_to post.poster.username, user_posts_path(post.poster) %></p>
          <p><%= post.body %></p>
      </li>
      <% end %>
    </ul>
    <%= render partial: 'posts/form' %>
  </div>

  <div class=".col-md-4">
  <%= render partial: 'friendships/index' %>
  </div>

</div>
